* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 .container{
    margin: 0 auto;
    max-width: 1000px;
 }

 menu,ul,ol {
    list-style: none;
 }
 h2{
    font-size: 30px;
 }
 .nav{
    padding: 100px;
 }
 .button-1{
    padding: 15px;
    margin-right: 10px;
    background-color: ;
 }

 img{
   max-height: 500px;
 }
 a {
   text-decoration: none;
   color: currentColor;

 }
/*prima colonna*/

 .header { 
    padding: 10px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    color: white;
    height: 500px;
 }
.list{
    
    display: flex;
    align-items: center;
    gap: 20px;


 }
 .firsthead{
    max-width: 600px;
    
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }
.row-1{
    display: flex;
   justify-content: space-between;
   gap: 20px;
}

.flexlogo{
    display: flex;
    justify-content: flex-start;
    background-image: url(./img/logo.svg);
    background-size: cover;
    width: 100px;
    
}


/*secondacolonna*/
.quadrato-2{
    padding: 100px;

}

.row-2 {
    min-height: 100px;
    display: flex;
    justify-content: center;
   
}
/*terzacolonna*/
.quadrato-3{
    padding: 30px;
}
.row-3{
    min-height: 400px;
}
.col-60{
    width: 60%;
    background-color: blue;
    border: 2px dashed black;
}
.col-40{
    width: 40%;
    background-color: pink;
    border: 2px dashed black;
    
}
/*quadrato4*/
.quadrato-4{
    background-color: lightgrey;
  
}
.row-4{
    min-height: 400px;
    display: flex;
    flex-direction: row-reverse;
}
/*quadrato5*/
.quadrato-5{
background-color: lightgray;
padding: 30px;

}
.row-5{
    min-height: 500px;
}
.background-green{
    background-color: green;
    border: 2px dashed black;
    

}

/*quadrato5*/
.quadrato-6{
    padding: 30px;
    background-color: black;
}
.col-30{
    width: 30%;
    background-color: pink;
    border: 2px dashed black;
}
.col-17-5{
    width: 17.5%;
    background-color: blue;
    border: 2px dashed white;
}

 
/*footer*/

footer{
    background-color: black;
    border: 1px solid white;

}


.background-6{
    background-color: aquamarine;
}

.col-logo{
    
    border: 1px dashed black;
    background-color: pink;

}
.col-bottone{
    
    border: 1px dashed black;
   background-color: pink;
}

 


/*debug*/

.debug .container{
    
    padding: 5px;

}
.debug .row{
    padding: 5px;
    
}